/* html {
    background: url(images/dad-joke-bkgrnd.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

html {
    margin: 0;
    background: rgb(0,0,170);
    background: linear-gradient(90deg, rgba(0,0,170,1) 0%, rgba(36,192,253,1) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.wordart.blues .text {
    font-family: Impact, sans-serif;
    color: #24c0fd;
    -webkit-text-stroke: 0.01em #0000aa;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa,Strength=1);
    text-shadow: 0.13em -0.13em 0px #0000aa;
    letter-spacing: -0.05em;
}

h1 {
    text-align: center;
}

.column p {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.dad-joke-container {
    display: block;
    margin: 0em 4em 1em 4em;
}

.joke-card {
    text-align: center;
    margin: 2em;
    padding: 2em;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    text-align: center;
}

@media screen and (min-width: 800px) {
    .column {
      flex: 1;
    }
}

.dad-shoe {
    display: block;
    margin: auto;
    padding: none;
    height: 12em;
    width: 12em;
}

@-webkit-keyframes wobble-vertical-on-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}
@keyframes wobble-vertical-on-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}
.wobble-vertical-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical-on-hover:hover, .wobble-vertical-on-hover:focus, .wobble-vertical-on-hover:active {
    -webkit-animation-name: wobble-vertical-on-hover;
    animation-name: wobble-vertical-on-hover;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#new-joke-container {
    display: block;
    text-align: center;
}

#new-joke-form {
    text-align: center;
}

#favorite-jokes {
    margin-top: 0px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    background-color: black;
    color: white;
    text-align: center;
}
